<h3>{{ projectId }}</h3>

<p>
  <button class="btn btn-sm btn-info" ng-hide="ymlData" ng-click="yml()">view docker-compose.yml</button>
  <button class="btn btn-sm btn-info" ng-show="ymlData" ng-click="ymlData = null">close docker-compose.yml</button>
</p>

<pre class="text-left" ng-show="ymlData">
  {{ ymlData }}
</pre>

<h1 ng-show="working">
  <span class="spinner glyphicon glyphicon-refresh"></span>
</h1>

<actions project-id="projectId" services="services" working="working" ng-hide="working"></actions>
<br><br>

<div ng-hide="working">
  <h4>Services</h4>

  <div ng-repeat="(id, service) in services">
    <ul class="list-group service service-{{$index % 16}}">
      <li class="list-group-item" ng-repeat="container in service" ng-class="{'list-group-item-success': container.is_running, 'list-group-item-danger': !container.is_running}">

            <span ng-class="{'text-muted': !container.is_running}">
              {{ container.name_without_project }}
            </span>
        <button class="btn btn btn-inverse" ng-click="displayLogs(container.name)">logs</button>
        <a class="btn btn-xs btn-inverse" ng-href="#/project/{{ projectId }}/{{ container.name }}">details</a>
        <button class="btn btn-xs btn-inverse" ng-confirm-click="restartContainer(container.name)">restart</button>
        <button class="btn btn-xs btn-inverse" ng-confirm-click="startContainer(container.name)">start</button>
        <button class="btn btn-xs btn-inverse" ng-confirm-click="stopContainer(container.name)">stop</button>

      </li> <!-- /.col -->
    </ul><!-- /.row -->
  </div>
  <div modal-show="showDialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ containerLogs }} logs</h4>
          <div style="position: relative;">
              <span us-spinner="{radius: 8, width:5, length:0}" spinner-on="spinneron"></span>
          </div>
        </div>
        <div class="modal-body">
          Filter: <input type="text" ng-model="logsfilter" ng-model-options="{ updateOn: 'blur'}">
          <pre class="text-left logs" scroll-glue>{{ logs.filter(filterByString).join("\n") }}</pre>
        </div>
      </div>
    </div>
  </div>
  <span ng-show="isEmpty(services)">no containers found</span>
</div>
